/*
   ANIMATION TIMING
*/
.a-ease { -webkit-animation-timing-function: ease; animation-timing-function: ease; }
.a-easein { -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
.a-easeout { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
.a-easeinout { -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }
.a-linear { -webkit-animation-timing-function: linear; animation-timing-function: linear; }
.a-bezier { -webkit-animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); }
.a-start { -webkit-animation-timing-function: step-start; animation-timing-function: step-start; }
.a-stop { -webkit-animation-timing-function: step-stop; animation-timing-function: step-stop; }
@media screen and (min-width: 48em) {
 .a-ease-ns { -webkit-animation-timing-function: ease; animation-timing-function: ease; }
 .a-easein-ns { -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
 .a-easeout-ns { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
 .a-easeinout-ns { -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }
 .a-linear-ns { -webkit-animation-timing-function: linear; animation-timing-function: linear; }
 .a-bezier-ns { -webkit-animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); }
 .a-start-ns { -webkit-animation-timing-function: step-start; animation-timing-function: step-start; }
 .a-stop-ns { -webkit-animation-timing-function: step-stop; animation-timing-function: step-stop; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .a-ease-m { -webkit-animation-timing-function: ease; animation-timing-function: ease; }
 .a-easein-m { -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
 .a-easeout-m { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
 .a-easeinout-m { -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }
 .a-linear-m { -webkit-animation-timing-function: linear; animation-timing-function: linear; }
 .a-bezier-m { -webkit-animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); }
 .a-start-m { -webkit-animation-timing-function: step-start; animation-timing-function: step-start; }
 .a-stop-m { -webkit-animation-timing-function: step-stop; animation-timing-function: step-stop; }
}
@media screen and (min-width: 64em) {
 .a-ease-l { -webkit-animation-timing-function: ease; animation-timing-function: ease; }
 .a-easein-l { -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
 .a-easeout-l { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
 .a-easeinout-l { -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }
 .a-linear-l { -webkit-animation-timing-function: linear; animation-timing-function: linear; }
 .a-bezier-l { -webkit-animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); animation-timing-function: cubic-bezier( .1, .1, .1, .1 ); }
 .a-start-l { -webkit-animation-timing-function: step-start; animation-timing-function: step-start; }
 .a-stop-l { -webkit-animation-timing-function: step-stop; animation-timing-function: step-stop; }
}

