/*
   ANIMATION TIMING
*/

  .a-ease {      animation-timing-function: ease; }
  .a-easein {    animation-timing-function: ease-in; }
  .a-easeout {   animation-timing-function: ease-out; }
  .a-easeinout { animation-timing-function: ease-in-out; }
  .a-linear {    animation-timing-function: linear; }
  .a-bezier {    animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1); }
  .a-start {     animation-timing-function: step-start; }
  .a-stop {      animation-timing-function: step-stop; }


@media screen and (min-width: 32em) {
  .a-ease-s {      animation-timing-function: ease; }
  .a-easein-s {    animation-timing-function: ease-in; }
  .a-easeout-s {   animation-timing-function: ease-out; }
  .a-easeinout-s { animation-timing-function: ease-in-out; }
  .a-linear-s {    animation-timing-function: linear; }
  .a-bezier-s {    animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1); }
  .a-start-s {     animation-timing-function: step-start; }
  .a-stop-s {      animation-timing-function: step-stop; }
}

@media screen and (min-width:48em) {
  .a-ease-m {      animation-timing-function: ease; }
  .a-easein-m {    animation-timing-function: ease-in; }
  .a-easeout-m {   animation-timing-function: ease-out; }
  .a-easeinout-m { animation-timing-function: ease-in-out; }
  .a-linear-m {    animation-timing-function: linear; }
  .a-bezier-m {    animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1); }
  .a-start-m {     animation-timing-function: step-start; }
  .a-stop-m {      animation-timing-function: step-stop; }
}

@media screen and (min-width: 96em) {
  .a-ease-l {      animation-timing-function: ease; }
  .a-easein-l {    animation-timing-function: ease-in; }
  .a-easeout-l {   animation-timing-function: ease-out; }
  .a-easeinout-l { animation-timing-function: ease-in-out; }
  .a-linear-l {    animation-timing-function: linear; }
  .a-bezier-l {    animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 0.1); }
  .a-start-l {     animation-timing-function: step-start; }
  .a-stop-l {      animation-timing-function: step-stop; }
}

